.about-me {
  padding: 0;
  font-size: $FONT_SIZE;

  color: $MAIN_COLOR;
  text-align: center;
  line-height: 50px;
  width: 100%;
  @media(min-width: $MOBILE_SIZE){
    display: inline-block;
    width: 210px;
  }
  & > a {
    display: block;
    padding: 20px;
  }

  a {
    line-height: 20px;
  }

  .links {
    display:none;
    @media(min-width: $MOBILE_SIZE){
      display: table-row;
    }

    float: right;
    a {
      display: table-cell;
      width: 100px;
      padding: 5px 2px;
      &:first-child {
        border-right: 1px solid $MAIN_COLOR;
      }


    }
  }
}

a.mograblog-link{
  text-decoration: none;
  &:hover {
    background: $MAIN_COLOR;
    color: $SECONDARY_COLOR;
  }
}

a.mograblog-link-inverse{
  text-decoration: none;
  color:white;
  &:hover{
    color:#4B77BE;
    background:white;
  }
}
