.homepage{
  .logo{
    display:block;
    margin:0 auto;
  }

  .cover-image{
    @media (min-width: $MOBILE_SIZE) {
      float: left;
      padding-right: 20px;
      &, img{
        height: 100px;
        width: 200px;
      }
    }
    padding-top: 20px;

  }

  .with-cover-image{
    @media(min-width: $MOBILE_SIZE) {
      max-width: 500px;
      min-height: 100px;
      padding-left: 220px;
    }

  }

  .gitter-link{
    text-align: center;
  }
  .about-me{
    @media(min-width: $MOBILE_SIZE){
      position:absolute;

    }
  }
  h1>a{
    color:black;

    &:active, &:hover{
      text-decoration: none;
    }
  }

  .read-more{
    float:right;
  }

  .entry{
    cursor: pointer;
    padding-bottom: 40px;
    padding-top:20px;
    min-height: 200px;
  }
}
