.homepage{
  .logo{
    display:block;
    margin:0 auto;
  }

  .cover-image{
    float: left;

    padding-right: 20px;
    padding-top: 20px;
    &, img{
      height: 100px;
      width: 200px;
    }
  }

  .with-cover-image{
    padding-left: 220px;
    max-width: 500px;
  }

  .gitter-link{
    text-align: center;
  }
  .about-me{
    position:absolute;
  }
  h1>a{
    color:black;
    &:active, &:hover{
      text-decoration: none;
    }
  }

  .read-more{
    float:right;
  }

  .entry{
    padding-bottom: 40px;
    padding-top:20px;
    min-height: 200px;
  }
}
