.homepage{
  .logo{
    display:block;
    margin:0 auto;
  }
  
  .gitter-link{
    text-align: center;
  }
  .about-me{
    position:fixed;
  }
  h1>a{
    color:black;
    &:active, &:hover{
      text-decoration: none;
    }
  }
  
  .read-more{
    float:right;
  }
  
  .entry{
    padding-bottom: 40px;
    padding-top:20px;
  }
}
