$SIZE:250px;
.logo{
  // background:url('images/logo_transparent.png') no-repeat;
  background-size:$SIZE;
  display:inline-block;
  width: 100px;
  height: 100px;
  @media (min-width: $MOBILE_SIZE){
    width:$SIZE;
    height:$SIZE;
  }
}
