
body,.post{ padding-top:1px;}

.post {

  overflow-x : hidden;
  
  .pre {
    margin-left:-1000px;
    margin-right:-1000px;
    padding-right:1000px;
    padding-left:1000px;
  } 
  
  img[alt^="cover"]{
    width:1000px;
    height:500px;
  }
  .logo {
    float: right;
  }
  .head {
    position: absolute;
    left: 0;
    padding: 0 20px;

  }

  .gitter-link{
    float:right;
  }

  .help-improve{
    float:right;
    margin-right:10px;
  }
  
  .first-content {
    margin-top: 100px;
  }


  .footer {
    height: 100px;
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;
    &[id]:hover{
      span:before{
        font-weight:200;
        padding:10px;
        content: "🔗";
        position: absolute;
        display:inline-block;
        $ROTATE:45deg;
        -webkit-transform: rotate($ROTATE);
        -moz-transform: rotate($ROTATE);
        -o-transform: rotate($ROTATE);
        -ms-transform: rotate($ROTATE);
        transform: rotate($ROTATE);
        left: -40px;
        top: -10px;
        bottom: 0px;
      }
    }
  }
   
  

}

#disqus_thread {
  max-width: $CONTENT_WIDTH;
  margin: 0 auto;
}


/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .post{
    pre>code{
      font-size:28px;
    }
    .head{
      position:absolute;      
    }
    p,li{
      margin-top:40px;
      margin-bottom:45px;
    }
  }
}

.details{
  font-size:13px;
  font-weight: normal;
  margin-left:20px;
  display:inline-block;
  margin-top:-10px;
  .pageviews{
    display:none;
    &.initialized{
      display:inline;
    }
  }
}

.currently-reading-wrapper {
  position:absolute;
  background:white;
  display:none;
  text-align: center;
  width: 180px;
  float: left;
  margin-top: 173px;
  //margin-left: 43px;
  padding-right:20px;
  margin-right:20px;
  padding-bottom:20px;
  padding-left:43px;
  font-size:16px;
  padding-top:30px;
  
  &.initialized{
    display:block;
  }
  a {
    margin-top:10px;
    display: block;
    padding: 10px 0 0 0;
    border-top: 1px solid #cecece;
  }

  .currently-reading-ago{
    margin-top:5px;
  }
}

@media only screen
and (max-width: 1500px)
{
  .currently-reading-wrapper.initialized {
    display:none;
  }
}