
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import './variables';

html, body, [class^="icon-"] > *, [class*=" icon-"] > *{
  @media(min-width: 900px){ // content-width
    padding:0;
    margin:0;
  }
  font-size: 14px;
  @media(min-width: $MOBILE_SIZE) {
    font-size: 20px;
  }


  // font-size:100%;
  // line-height:1.5;

 // font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  font-family: 'Josefin Sans', sans-serif;
//  font-family: "Lato",sans-serif;
}

img{
  max-width:100%;
}

$MAIN_COLOR:#4B77BE;
$SECONDARY_COLOR:#E4F1FE;


$CONTENT_WIDTH:900px;
$CODE_BACKGROUND:#2b2b2b;
$FONT_SIZE:18px;
$LINE_HEIGHT:2;

@import './common';
@import './post_layout';
@import './logo';
@import './homepage';
@import './alerts';
@import './about_me';
@import './tables';
@import './readability';
@import './feedback';
