div.about-me
    a(href="https://about.me/guymograbi", class="mograblog-link")
        span.desktop-text By: Guy Mograbi
        span.mobile-text GM
    div.links
        a(href="https://twitter.com/guymograbi", class="mograblog-link", title="Twitter")
            span.desktop-text Twitter
            span.mobile-text
                i.fa-brands.fa-x-twitter
        a(href="https://github.com/guymograbi", class="mograblog-link", title="Github")
            span.desktop-text Github
            span.mobile-text
                i.fa-brands.fa-github
