div.about-me
    a(href="https://about.me/guymograbi", class="mograblog-link") By: Guy Mograbi
    div.links
        a(href="https://twitter.com/guymograbi", class="mograblog-link") Twitter
        a(href="https://github.com/guymograbi", class="mograblog-link") Github
